<h1>Try it now or <%= link_to "sign up", signup_path, class: "btn btn-lg btn-success" %> to save your urls</h1>
<script language="javascript">
    document.addEventListener("DOMContentLoaded", function(){
    
    document.onload = startup();
    
    function startup() {
        showPersonal();
     }
     
    var personals;
    var imgList;
    var personalUpload = $('.show.personal .files');
    var dropbox = document.getElementById('dropbox');
    dropbox.addEventListener('dragenter', noopHandler, false);
    dropbox.addEventListener('dragexit', noopHandler, false);
    dropbox.addEventListener('dragover', noopHandler, false);
    dropbox.addEventListener('drop', drop, false);
    personalUpload.on("change", showPersonalAttributes);
     
    function noopHandler(evt) {
        evt.stopPropagation();
        evt.preventDefault();
    }
    
    function drop(evt) {
        var obj = evt.dataTransfer;
        if(obj){
          var obj = evt.dataTransfer;
          evt.stopPropagation();
          evt.preventDefault();
          if(obj.getData){
            imgList = obj.getData('URL');
            if (checkURL(imgList)){
                addImage(imgList); 
                hideBackground();
            }
            else {
              $('.drop-background').attr("class", "drop-background");
              alert("File Type not accepted in this dropbox, try the upload below")
              $('.drop-background').attr("class", "drop-background");
            }
            
          }
          else{
            alert("File Type not accepted in this dropbox");
          }
        }
        else{
          alert("There was an error with this submission");
        }
    }
    
    function addImage(link){
        document.querySelector('.none.image input.empty').value = link; 
        document.querySelector('.none.image input.empty').className = "filled";  
        var node = document.createElement('li');
        node.innerHTML = link;
        document.querySelector('#list-preview').appendChild(node);
    }
    
    function addWeb(link){
        document.querySelector('.none.web input').value = link;
        document.querySelector('.none.web').className = "";
    }
    
    function showPersonal(){
        $('.none.personal').first().attr("class", "show personal");

    }

    function hidePersonal(){
        $('.show.personal').first().attr("class", "none-filled personal");

    }

    function showPersonalAttributes(){
        $('.show.personal .none.personal-title').attr("class", "personal-title form-control");
        $('.show.personal .none.personal-alt').attr("class", "personal-alt form-control");
    }

    function hideBackground(){
        $('.drop-background').attr("class", "none drop-background");
    }

    function checkURL(url) {
        return(url.match(/\.(jpeg|jpg|gif|png)$/) != null);
    }
     
    $('#loading-btn').click(function () {
        var btn = $(this)
        var title = $('#url_title').val();
        var images = $('.image input.filled');
        var webs = $('.web input.filled');
        var personals = $('.show.personal input.files'); 
        var category = $('.category-collect').val();
        var params = {url:[]}
        $('.none.drop-background').attr("class", "drop-background");
        $('#list-preview').empty();
        dataString = params['url'].push({title: title, images_attributes: images, webs_attributes: webs, personal_attributes: personals, category_id: category});      
        $.ajax({
            type: "POST",
            url: "/api/urls/",
            beforeSend: function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")},
            data: dataString,
            dataType: 'html',
            success: function(data, textStatus){
              console.log(data);
            }

        });
    });
    
    $('#addQueue').click(function(){
        hideBackground();
        var textArea = $('textarea').val();
        var personalInput = $('.show.personal input.files').val();
        var input;
        if (textArea != "" && personalInput == ""){
            input = textArea;
        }
        else if (personalInput != "" && textArea == ""){
            input = personalInput;
        }
        else if (personalInput != "" && textArea != ""){
            alert("You can only add one item to the Queue at a time");
            return
        }
        else{
            alert("You cannot add an empty item!");
            return
        }
        $('.none.web input.empty').first().val(input);
        $('.none.web input.empty').first().attr('class', 'filled');
        $('textarea').val("");
        $('#list-preview').append("<li>" + input + "</li>");
        showPersonal(); 
        hidePersonal();
        var personalUpload = $('.show.personal .files');
        personalUpload.on("change", showPersonalAttributes);
    });
  });
</script>

<div class="container form">
  <div class="row form">
    <%= form_for @url, html: { multipart: true, class: 'form-group dropbox-form' }, remote: true do |u| %>
      <% if logged_in? %>
        <%= u.text_field :title, placeholder: "Shorten URL Title" , class: 'form-control' %>
        <%= u.collection_select :category_id, @category, :id, :title %>
      <% end %>
      <%= u.fields_for :images do |i| %>
        <div class="none image">
          <%= i.text_field :link, class: 'empty form-control', placeholder: "IMAGE URL" %>
        </div>
      <% end %>  
      <%= u.fields_for :webs do |w| %>
        <div class="none web" id="webs">
          <%= w.text_field :link, class: 'empty form-control', placeholder: "WEB URL" %>
        </div>
      <% end %>
      <div id="dropbox">
        <div id="top-preview">
          <ol id="list-preview">
          </ol>
          <div class="drop-background">
            <span class="glyphicon glyphicon-picture"></span>
            <h2>DRAG AND DROP HERE</h2>
            <h6>(drag or upload desktop images below)</h6>
          </div>
        </div>
        <textarea rows="5"  placeholder="USE THIS AREA TO COPY AND PASTE URL PAGES OR IMAGE URLS AND ADD TO QUEUE WITH BUTTON BELOW"></textarea>
          <%= u.fields_for :personals do |p| %>
          <div class="none personal">
            <%= p.text_field :title, class: 'personal-title none', placeholder: 'Title of desktop uploaded image' %>
            <%= p.text_field :alt_text, class: 'personal-alt none', placeholder: 'Alt Text of desktop uploaded image' %>
            <%= p.file_field :image, class: 'files form-control' %>
          </div>
          <% end %>
      <%= u.submit("CREATE URL", class: 'btn btn-success', id: 'loading-btn') %>
    <% end %> 
    <input class="btn btn-success add-queue" id="addQueue" type="button" value="ADD TO QUEUE">
      </div>
  </div>
</div>
