<script language="javascript">
    document.addEventListener("DOMContentLoaded", function(){
    
    document.onload = startup();
    
    function startup() {
        showPersonal();
     }
     
    var personals;
    var imgList;
    var dropbox = document.getElementById('dropbox');
    dropbox.addEventListener('dragenter', noopHandler, false);
    dropbox.addEventListener('dragexit', noopHandler, false);
    dropbox.addEventListener('dragover', noopHandler, false);
    dropbox.addEventListener('drop', drop, false);
     
    // var moreWebs = document.querySelector('.web-btn');
    // moreWebs.addEventListener('click', removeBtn, false);
 
    function noopHandler(evt) {
        evt.stopPropagation();
        evt.preventDefault();
    }
    
    // function showNextWeb(){
    //   document.querySelector('.none.web').className = "web";
    //   moreWebs = document.querySelector('.web-btn');
    //   moreWebs.addEventListener('click', removeBtn, false);
    // }
    
    // function showNextPersonal(){
    //   document.querySelector('.none.personal').className = "show personal";
    //   var morePersonals = document.querySelectorAll('.files');
    //   for (var i = 0; i < morePersonals.length; i++){
    //     morePersonals[i].addEventListener('change', showNextPersonal, false); 
    //   }
    // }
    
    function drop(evt) {
        var obj = evt.dataTransfer;
        if(obj){
          var obj = evt.dataTransfer;
          evt.stopPropagation();
          evt.preventDefault(); 
          if(obj.getData){
            imgList = obj.getData('URL');
            if (checkURL(imgList)){
                addImage(imgList); 
            }
            else {
              imgList = obj.files;
              var formData = new FormData();
              for (var i = 0; i < imgList.length; i++) {
                  formData.append('file', imgList[i]);
              }
              $('#list-preview').append("<li>" + formData['file'] + "</li>");
              $('.show.personal input.files').val() == formData;
            }
            
          }
          else{
            alert("File Type not accepted in this dropbox");
          }
        }
        else{
          alert("There was an error with this submission");
        }
    }
    
    function addImage(link){
        document.querySelector('.none.image input.empty').value = link; 
        document.querySelector('.none.image input.empty').className = "filled";  
        var node = document.createElement('li');
        node.innerHTML = link;
        document.querySelector('#list-preview').appendChild(node);
    }
    
    function addWeb(link){
        document.querySelector('.none.web input').value = link;
        document.querySelector('.none.web').className = "";
    }
    
    function showPersonal(){
        $('.none.personal').first().attr("class", "show personal");
    }

    function hidePersonal(){
        $('.show.personal').first().attr("class", "none personal");
    }

    function checkURL(url) {
        return(url.match(/\.(jpeg|jpg|gif|png)$/) != null);
    }
     
    $('#loading-btn').click(function () {
        var btn = $(this)
        var title = $('#url_title').val();
        var images = $('.image input.filled');
        var webs = $('.web input.filled');
        var personals = $('.show.personal input.files'); 
        var params = {url:[]}
        btn.button('loading')
        dataString = params['url'].push({title: title, images_attributes: images, webs_attributes: webs, personal_attributes: personals});      
        $.ajax({
            type: "POST",
            url: "api/urls/new",
            beforeSend: function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")},
            data: dataString,
            success: function(data, textStatus){
                $('#loading-btn').html(url_path(data));
            }
        });
    });
    
    $('#addQueue').click(function(){
        var textArea = $('textarea').val();
        var personalInput = $('.show.personal input.files').val();
        var input;
        if (textArea != "" && personalInput == ""){
            input = textArea;
        }
        else if (personalInput != "" && textArea == ""){
            input = personalInput;
        }
        else if (personalInput != "" && textArea != ""){
            alert("You can only add one item to the Queue at a time");
            return
        }
        else{
            alert("You cannot add an empty item!");
            return
        }
        $('.none.web input.empty').first().val(input);
        $('.none.web input.empty').first().attr('class', 'filled');
        $('textarea').val("");
        $('#list-preview').append("<li>" + input + "</li>");
        showPersonal(); 
        hidePersonal(); 
    });
   // function addOption_list(imgList){
        //alert(imgList.length);
     //   for (var i=0; i < imgList.length;++i)
       // {
         //       addOption(document.drop_list.img_list, imgList[i], imgList[i]);
                // if(i== dt_month){document.drop_list.img_list.options[i].selected=true;}
       // }
   // }
  });
</script>

<%= form_for @url, html: {multipart: true} do |u| %>
  <%= u.text_field :title, placeholder: "Shorten URL Title" %>
  <br>
  <%= u.fields_for :images do |i| %>
    <div class="none image">
      <%= i.text_field :link, class: 'empty', placeholder: "IMAGE URL" %>
    </div>
  <% end %>  
  <br>
  <%= u.fields_for :webs do |w| %>
    <div class="none web" id="webs">
      <%= w.text_field :link, class: 'empty', placeholder: "WEB URL" %>
    <br>
    <input type="button" value="+" class="btn btn-primary btn-sm web-btn">
    </div>
  <% end %>
  <br>
<div class="container">
<form>
  <div id="dropbox">
    <div id="top-preview">
      <ol id="list-preview">
      </ol>
    </div>
    <textarea rows="5"  placeholder="DropZone => you could drop any image from any page here or copy/paste and enter"></textarea>
  <div class="show personals">
  <%= u.fields_for :personals do |p| %>
    <div class="none personal">
      <%= p.text_field :title, placeholder: 'TITLE' %>
      <br>
      <%= p.text_field :alt_text, placeholder: 'Alt Text' %>
      <br>
      <%= p.file_field :image, class: 'files' %>
    </div>
  <% end %>
  </div>
  <br>
  <%= u.submit(class: 'btn btn-primary', id: 'loading-btn') %>
<% end %> 
    <br>
    <input class="btn btn-primary add-queue" id="addQueue" type="button" value="Add to Queue">
  </div>
</form>
</div>
